#primary {
  padding-block: 20px;
  div{
    display: flex;
    align-items: center;
    gap: 8px;
  }
/**NEXTING CSS*/
  div:nth-child(2) {
margin-inline: auto;
  }
  div:nth-child(3){
    justify-self: end;
  }
  
}


#secondary{
    padding-block: 14px;
    border:solid 1px var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}
@media screen and (max-width:600px){
  #secondary{
    display: grid;
    justify-content: space-between;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;;
   row-gap: 20px;
    
  }
}

.menu-hamburguer{
    cursor:pointer;
}